a {
    color: inherit;
    text-decoration: none;
}

a.action {
    padding: 5px 8px;
}

a#edit-cancel {
    color: #d31e00;
}

a#edit-submit {
    color: #73AD21;
}

a:hover {
    background-color: #ddd;
    color: #222;
}

aside {
    display: flex;
    position: relative;
    flex: 0 0 340px;
}

aside div.panel {
    position: fixed;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 300px;
    border-right: 1px solid #333;
    margin-right: 20px;
    padding-right: 20px;
    height: calc(100vh - 40px);
}

body {
    background-color: #222;
    color: #ddd;
    display: flex;
    font-family: "Century Gothic", Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    font-size: 14px;
}

div#actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

div#details {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;;
    text-align: center;
    margin-top: 60px;
}

div.edit-pair {
    display: flex;
    margin: 20px;
    margin-top: 0;
    max-width: 100%;
    width: calc(100vw - 40px);
}

div.edit-pair > textarea, input {
    color: inherit;
    background-color: #3e3e3e;
    border: none;
    padding: 10px;
}

div.edit-pair > *:first-child {
    width: 20%;
}

div.edit-pair > *:last-child {
    width: 80%;
}

div.edit-pair > span {
    padding: 10px 0;
}

div#edit-actions {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    margin-top: 0;
    max-width: 500px;
    width: calc(100vw - 40px);
}


div#image-container {
    display: flex;
}

div#meta  {
    font-size: 14px;
    line-height: 28px;
    padding-top: 20px;
}

div.overlay {
    align-items: center;
    background: rgba(0,0,0,0.8);
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

div#tags {
    text-align: center;
}

div#title {
    font-size: 28px;
    max-width: calc(100% - 20px);
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

form#edit-form {
    width: 500px;
}

form#search {
    display: flex;
}

form#search > input {
    background-color: #3e3e3e;
    border: none;
    /*border-bottom: 1px solid #ddd;*/
    color: inherit;
    flex: 1;
}

form#search > button {
    background-color: #3e3e3e;
    border: none;
    /*border-bottom: 1px solid #ddd;*/
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

form#search > button:hover {
    background-color: #ddd;
    color: #222;
    cursor: pointer;
}
img#image, video#video {
    max-height: calc(100vh - 40px);
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex: 1;
    height: calc(100vh - 40px);
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
}

a.tag {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: calc(100% - 20px);
    padding: 10px;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

a.tag:hover {
    background-color: #333;
    color: inherit;
}

/* --------------------------------------------------------------------- Text */

h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

/* ------------------------------------------------------------------- Layout */

.spacer {
    align-items: center;
    display: flex;
    flex: 1;
}

/* ------------------------------------------------------------------ Gallery */

#gallery {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: -5px;
    margin-right: -5px;
    overflow: visible;
}

#gallery div {
    flex: 1;
    flex-basis: 128px;
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 128px;
    min-height: 128px;
    position: relative;
}

#gallery div:nth-child(5n) {
    flex-basis: 224px;
}

#gallery div:nth-child(2n+1) {
    flex-basis: 160px;
}

#gallery div:nth-child(7n+4) {
    flex-basis: 320px;
    min-height: 224px;
}

#gallery div a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

#gallery div a:hover {
    opacity: 0.8;
}

/* -------------------------------------------------------------- Uplaod Form */

#upload {
    display: flex;
    flex: 0;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

#upload > * {
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0;
}

#upload > button {
    background-color: inherit;
    border: none;
    color: inherit;
    flex: 0;
    font-size: inherit;
    font-family: inherit;
    padding: 5px 8px;
}

#upload > button:hover {
    background-color: #ddd;
    color: #222;
    cursor: pointer;
}

#upload > .browse-wrapper {
    margin: 10px;
    overflow: hidden;
    position: relative;
}

#upload > .browse {
    border: 1px solid #333;
}
