a {
    color: inherit;
    text-decoration: none;
}

a.action {
    padding: 5px 8px;
}

a#edit-cancel {
    color: #d31e00;
}

a#edit-submit {
    color: #73AD21;
}

a:hover {
    background-color: #ddd;
    color: #222;
}

aside {
    flex: 0 0 340px;
    position: relative;
}

#info-panel, #edit-panel, #delete-panel {
    border-right: 1px solid #3e3e3e;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: calc(100vh - 40px);
    margin: 0 auto;
    margin-right: 20px;
    padding-right: 20px;
    position: fixed;
    width: 300px;
}

#edit-panel > * {
    margin: 0;
    overflow: hidden;
}

body {
    background-color: #222;
    color: #ddd;
    display: flex;
    font-family: "Century Gothic", Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    font-size: 14px;
}

div#actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

div.details {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    text-align: center;
}

div.error {
    background-color: #E34C53;
    color: #fff;
    font-weight: bold;
    padding: 20px;
}

div.edit-pair {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 0;
    max-width: 100%;
    width: calc(100vw - 40px);
}

div.edit-pair > textarea, input {
    color: inherit;
    background-color: #3e3e3e;
    border: none;
    padding: 10px;
    width: 100%;
}

div.edit-pair > span {
    padding: 10px 0;
}

div.edit-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

div.meta  {
    font-size: 14px;
    line-height: 28px;
    padding-top: 20px;
}

div.overlay {
    align-items: center;
    background: rgba(0,0,0,0.8);
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

div#tags {
    text-align: center;
}

div.title {
    font-size: 28px;
    max-width: calc(100% - 20px);
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

form#search {
    display: flex;
}

form#search > input {
    background-color: #3e3e3e;
    border: none;
    color: inherit;
    flex: 1;
}

form#search > button {
    background-color: #3e3e3e;
    border: none;
    color: inherit;
    flex: none;
    font-size: inherit;
    font-family: inherit;
}

form#search > button:hover {
    background-color: #ddd;
    color: #222;
    cursor: pointer;
}

#display {
    align-items: center;
    display: flex;
    flex: 1;
    height: calc(100vh - 40px);
    justify-content: center;
}

#display > div {
    display: flex;
    margin-left: 10px;
}

#display > div:first-child {
    margin: 0;
}

#display > div > img, #display > div > video {
    max-height: calc(100vh - 40px);
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
}

a.tag {
    display: inline-block;
    max-width: calc(100% - 20px);
    padding: 10px;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

a.tag:hover {
    background-color: #3e3e3e;
    color: inherit;
}

/* --------------------------------------------------------------------- Text */

h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #3e3e3e;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

/* ------------------------------------------------------------------- Layout */

.spacer {
    align-items: center;
    display: flex;
    flex: 1;
}

/* ------------------------------------------------------------------ Gallery */

#gallery {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: -5px;
    margin-right: -5px;
    overflow: visible;
}

#gallery div {
    flex: 1;
    flex-basis: 128px;
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 128px;
    min-height: 128px;
    position: relative;
}

#gallery div:nth-child(5n) {
    flex-basis: 224px;
}

#gallery div:nth-child(2n+1) {
    flex-basis: 160px;
}

#gallery div:nth-child(7n+4) {
    flex-basis: 320px;
    min-height: 224px;
}

#gallery div a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

#gallery div a:hover {
    opacity: 0.8;
}

/* -------------------------------------------------------------- Uplaod Form */

#upload {
    display: flex;
    flex: 0;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

#upload > * {
    margin: 0;
    overflow: hidden;
}

button.action {
    background-color: inherit;
    border: none;
    color: inherit;
    flex: 1;
    font-size: inherit;
    font-family: inherit;
    padding: 5px 8px;
}

button.action:hover {
    background-color: #ddd;
    color: #222;
    cursor: pointer;
}

#upload > .browse-wrapper {
    margin: 10px;
    overflow: hidden;
    position: relative;
}

#upload > button {
    margin-top: 10px;
}

.checkbox-label {
    justify-content: center;
    display: flex;
}

.checkbox-label > input {
    flex: 0;
}

.checkbox-label > span {
    margin-top: 3px;
    margin-left: 10px;
}

.hidden {
    display: none !important;
}

hr {
    border: none;
    border-top: 1px solid #3e3e3e;
    margin: 10px 0;
}

#side-bar {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border-right: 1px solid #3e3e3e;
    padding-right: 20px;
}

#gallery2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    justify-content: flex-start;
}

#gallery2 a:hover {
    background-color: inherit;
}

#gallery2 img {
    display: flex;
    box-sizing: border-box;
}

#gallery2 img:hover {
    opacity: 0.8;
}

.disabled {
    color: #3e3e3e;
}

.disabled:hover {
    background-color: inherit;
    color: #3e3e3e;
    cursor: default;
}
