a {
    color: inherit;
    text-decoration: none;
}

a.action {
    padding: 5px 8px;
}

a:hover {
    background-color: #ddd;
    color: #222;
}

aside {
    border-right: 1px solid #333;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 20px;
    max-width: 300px;
    padding-right: 20px;
}

body {
    background-color: #222;
    color: #ddd;
    display: flex;
    font-family: "Century Gothic", Helvetica, sans-serif;
    height: calc(100vh - 40px);
    margin: 0;
    padding: 20px;
    font-size: 14px;
}

div#actions {
    display: flex;
    justify-content: space-between;
}

div#details {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}

div#image-container {
    display: flex;
}

div#meta  {
    font-size: 14px;
    line-height: 28px;
    padding-top: 20px;
}

form#search {
    display: flex;
}

form#search > input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #ddd;
    color: inherit;
    flex: 1;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

form#search > button {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #ddd;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

div#search > button:hover {
    background-color: #ddd;
    color: #222;
}

div#tags {
    text-align: center;
}

div#title {
    font-size: 28px;
}

img#image {
    max-height: calc(100vh - 40px);
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
}

span.tag {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    white-space: nowrap;
}
