<!DOCTYPE html>
<head>
    <title>Image Board</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="content">
        <div class="header">
            <div class="left">
                <form name="search" action="images" method="get">
                    <input type="text" name="q" value="{{query}}" />
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="right">
                <form name="upload" action="upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploadedFile" />
                    <input type="text" autocomplete=off name="tags" />
                    <button type="submit">Upload</button>
                </form>
            </div>
        </div>
        <div class="gallery">
            <a href="/albums?page={{previousPage}}{{#isQuery}}&q={{query}}{{/isQuery}}">
                <div class="thumb">previous</div>
            </a>
            <a href="/albums?page={{nextPage}}{{#isQuery}}&q={{query}}{{/isQuery}}">
                <div class="thumb">next</div>
            </a>
            {{#albums}}
            <a href="/album/{{identifier}}{{#isQuery}}?q={{query}}{{/isQuery}}">
                <img src="{{thumb}}" />
            </a>
            {{/albums}}
        </div>
    </div>
</body>
