<!DOCTYPE html>
<head>
    <title>Image {{main.identifier}}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="application/javascript;version=1.7" src="/static/utility.js"></script>
    <script type="application/javascript;version=1.7" src="/static/image.js"></script>
    <script type="application/javascript;version=1.7">
        let prev  = {{previous.identifier}};
        let next  = {{next.identifier}};
        let query = "{{setQuery}}";
        let image = "image";
        let tags  = "tags";

        window.addEventListener("load",   Image.resize(image, tags),         false);
        window.addEventListener("resize", Image.resize(image, tags),         false);
        window.addEventListener("keyup",  Image.navigate(prev, next, query), false);
    </script>
</head>
<body>
    {{#main.hasTags}}
    <ul id="tags" class="listBox">
        {{#main.tagNames}}<li>{{.}}</li>{{/main.tagNames}}
    </ul>
    {{/main.hasTags}}
    <img id="image" class="display" src="{{main.path}}">
</body>
